header{
    background-color: rgb(5, 16, 68);
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 100%;
    
}
.title {
    width: 70%;
    color: aliceblue;
    display: block;
    
    
    
}
.title h1{
    margin-left: 1rem;

}
.title h3{
    margin-left: 1rem;
}
.social {
    width: 30%;
    display: flex;
    justify-content: right;
    align-items: center;
    
}
.social img{
    width: 1.2rem;
    margin-right:2rem ;
    
}
.social img:hover{
    transform: scale(1.4);
}