
.titulo{
    background-color: rgb(7, 94, 14);
    color:white;
    width: 40%;
    margin: auto;
    text-align: center;
}

.titulo:hover{
    color: brown;
    background-color: burlywood;
    color: #484848;  
    transform: translateX(40px) scale(1.5) skew(-15deg);

}

.ad-ad2 h1:hover span {
    color: #484848;  
    transform: translateX(40px);
    display: inline-block;
} 

.cuadrado{
    margin:auto ;
    width: 200px;
    height: 200px;
    background-color: rgb(7, 90, 62);
    border: 2px solid red;
    animation-name: mianimacion;
    animation-duration: 6s;
    animation-delay: 1s;
    position: relative;
    animation-timing-function:ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes mianimacion{
    0%{background-color: rgb(7, 90, 62); left:0;top:0px;;}
    25%{background-color: rgb(67, 179, 24);left:300px; top:0px;}
    50%{background-color: red;left:300px;top:300px;}
    75%{background-color: rgb(11, 34, 109);left:0; top:300px;;}
    100%{background-color: aqua; left:0;top:0;}
    
}


