html{
    font-family: 'Roboto', sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    
    
}
.calculator-display{
padding: 25px 15px;
width: 100%;
margin: auto;
border: 1px solid green;
overflow-x: auto;
text-align: right;

}

.calculator-keypad{
    display: flex;
    width: 100%;
}

.keypad-numbers{
display: flex;
flex-wrap: wrap;

width: 100%;

}

.keypad-button{
    
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid gray;
}
.keypad-button:hover{
   filter: brightness(70%);
   transition: filter .25s;
}

.keypad-button.yellow{
    background-color: yellow;
}

.keypad-button.large{
    width: 50%;
}

.keypad-button.dark{
    background-color: lightgrey;
}